HY3_API_KEY=<YOUR_HY3_API_KEY>
HY3_BASE_URL=https://tokenhub.tencentmaas.com/v1
HY3_MODEL=hy3
HY3_REASONING_EFFORT=high
HY3_TIMEOUT_SECONDS=120
HY3_MAX_RETRIES=2
HY3_MAX_INPUT_CHARS=60000
HY3_MAX_OUTPUT_TOKENS=8000
